.storepage-navbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 20px 3%;
  border-bottom: 2px solid #e5e5e5;

}
.search-bar{
    display: flex;
    gap: 4px;
}
.search-bar input{
    border-radius: 50px;
    width: 80%;
    height: 70%;
    padding: 16px ;
}

.search-bar input::placeholder{
    color: rgb(0, 0, 0);
    margin-right: 4px;
}
.search-icons{
    display: flex;
    gap: 8px;
    position: relative;
    top: 9px; 
}
.icons{
    width: 40px;
    height: 23px;
    cursor: pointer;
}